.card {
  background: var(--color-blue-900);
  border-radius: 1rem; /* 16px */
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(5, 11, 24, 0.4);
  color: var(--color-bg);
  padding: 1.5rem; /* 24px */
}

.card__imageWrap {
  position: relative;
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.5rem; /* 8px */
}

.card__body {
  padding-top: 1.5rem; /* 24px */
}

.card__title {
  font-size: 1.25rem;
  margin-bottom: 1rem; /* 16px */
  color: var(--color-text);
}

.card__desc {
  color: var(--color-blue-500);
  margin-bottom: 1rem;
  line-height: 1.4;
  font-size: 1.125rem;
  font-weight: 300;
}

.card__icon__eth {
  width: 0.6875rem; /* 11px */
  height: 1rem; /* 16px */
}

.card__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.card__price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-accent);
  font-weight: 700;
}

.card__icon__clock {
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
}

.card__time {
  color: var(--color-blue-500);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.5rem; /* 8px */
}

.card__divider {
  height: 1px;
  background: var(--color-blue-800);
  margin: 1rem 0;
}

.card__creator {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.card__avatar {
  width: 2.0625rem; /* 33px */
  height: 2.0625rem; /* 33px */
  border-radius: 50%;
  border: 1px solid var(--color-text);
}

.card__by {
  color: var(--color-blue-500);
  font-size: 0.9rem;
}
.card__creatorName {
  margin-left: 0.25rem;
  font-weight: 500;
  color: var(--color-text);
}
